
.login-container {
  background-color: #1e1e1e;
  color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #2a2a2a;
  padding: 2rem;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 0 10px rgba(124, 58, 237, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #7c3aed;
}

.login-form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: #fff;
  box-sizing: border-box;
  height: 45px;
}

.login-form input::placeholder {
  color: #ccc;
  font-size: 1rem;
}

.erro {
  color: #ff5555;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.link-cadastro {
  text-align: center;
  margin-top: 1rem;
}

.link-cadastro a {
  color: #7c3aed;
  text-decoration: none;
}

.link-cadastro a:hover {
  text-decoration: underline;
}
